/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	display: grid;
	justify-content: center;
	font-family: 'Spartan', sans-serif;
	font-size: .9375rem;
	min-height: 100vh;
	padding: 5rem 1.5rem;

	background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
	// background-size: 100%, 100%;
	background-position: top, bottom;
	background-repeat: no-repeat, no-repeat;
}

p,blockquote{
	line-height: 1.6;
}

main{
	width: 100%;
    max-width: 400px;

	border-top: 1px transparent solid;

	article{
		margin-top: 3rem;
	}
}