/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	position: relative;
	font-family: 'Spartan', sans-serif;
	font-size: .9375rem;
	min-height: 100vh;
	padding: 5rem 1.5rem 7rem;
	display: grid;
	justify-content: center;

	background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
	// background-size: unquote("min(100%, 500px)");
	background-position: top, bottom;
	background-repeat: no-repeat, no-repeat;

	@include breakpoint-up(large){
		background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
		background-position: right 60vw top 0, left 17vw bottom 0vh;
	}
}

p,blockquote{
	line-height: 1.6;
}

main{
	width: 100%;
    max-width: 400px;

	border-top: 1px transparent solid;

	article{
		@include breakpoint-down(medium){
			margin-top: 3rem;
		}
	}

	@include breakpoint-up(large){
		max-width: 1110px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		row-gap: 3.5rem;
	}
}