.rating-reviews{
    width: 100%;
    @include flex(column);

    .rating-review{
        &:not(:first-child){
            margin-top: .875rem;
        }
        
        padding-block: .875rem;
        border-radius: 8px;
        width: 100%;
        background-color: $light-Grayish-Magenta;
        @include flex(column, center, center);

        .stars{
            @include flex(row, center, center);

            img{
                display: inline-block;
                max-width: 100%;
                height: auto;
            }

        }
        p{
            margin-top: .875rem;
            strong{
                color: $very-Dark-Magenta;
            }
        } 
    }
}